<% layout('boilerplate') -%>
<% stylesheet('/stylesheets/style.css') -%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
    	<li><a href='/'>Home</a></li>
    	<li><a href='/addPost'>Add a new post</a></li>
    </ul>
    <div ng-view>
<% script('/javascripts/lib/angular.min.js') -%>
<% script('/javascripts/app.js') -%>
<% script('/javascripts/controllers.js') -%>

