<!DOCTYPE html>
<html ng-app='mapApp'>
  <head>
    <title><%= title %></title>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.css' rel='stylesheet' />
    <!--[if lte IE 8]>
      <link href='//api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.ie.css' rel='stylesheet' />
    <![endif]-->
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.js'></script>
    
    <link rel='stylesheet' href='stylesheets/font.css' />
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <% include test %>
  </body>
</html>