<% layout('boilerplate') -%>
<% stylesheet('/stylesheets/style.css') -%>
<h1><%= title %></h1>
    <ul>
      <% for(var i= 0; i< users.length; i++){ %>
      <li>
        <h3><%= users[i].first %></h3>
        <p><%= users[i].email %></p>
        <p><%= users[i].id %></p>
      </li>
      <% } %>
    </ul>
