    <div class='header'>
      <div id='navbar'>
        <span class='header-logo'>Mappit</span>
      </div>
    </div>
      </div>
    </div>
    <div class="container">
      <div id='sidebar'>
        <div id='tags'>
          <ul class='taglist'>
            <li><span class='dicon-food'></span></li>
            <li><span class='dicon-cart'></span></li>
            <li><span class='dicon-ticket'></span></li>
            <li><span class='dicon-camera'></span></li>
          </ul>
        </div>
        <div id='pin-info'>
          <h3 class='pin-title'><%= posts[0].title %></h3>
          <p><span class='pin-description'><%= posts[0].description %></span></p>
          <p><span class='pin-author'><%= posts[0].author %></span></p>
        </div>
        <div id='pin-create'>
          <form action='#' method='post' id='pin-add'>
            <input type='text' name='title' id='title' placeholder='Name of Pin'></input>
            <input type='text' name='description' id='description' placeholder='Description'></input>
            <input type='text' name='author' id='author' placeholder='author'></input>
            <input type='submit' value='submit' name='submit' onclick='show'></input>
          </form>
        </div>
        <div id='pins' ng-view>
        </div>

      </div>

      <div>
        <div id='map'></div>
      </div>

      
    </div>  
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src='javascripts/mappins.js'></script>
    <script src='javascripts/lib/angular.min.js'></script>
    <script src='javascripts/app.js'></script>
    <script src='javascripts/controller.js'></script>
    <script type='text/javascript' src="javascripts/map.js">   </script>