@font-face {
	font-family: 'desert-hack';
	src:url('../fonts/desert-hack.eot');
	src:url('../fonts/desert-hack.eot?#iefix') format('embedded-opentype'),
		url('../fonts/desert-hack.woff') format('woff'),
		url('../fonts/desert-hack.ttf') format('truetype'),
		url('../fonts/desert-hack.svg#desert-hack') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'desert-hack';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="dicon-"] {
*/
.dicon-food, .dicon-map-marker, .dicon-camera, .dicon-ticket, .dicon-cart {
	font-family: 'desert-hack';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.dicon-food:before {
	content: "\f0f5";
}
.dicon-map-marker:before {
	content: "\e000";
}
.dicon-camera:before {
	content: "\e001";
}
.dicon-ticket:before {
	content: "\e002";
}
.dicon-cart:before {
	content: "\e00f";
}
