*
  padding: 0
  margin: 0


//This is just a hack for present to remove the zoom controls given by Mapbox. 
//They dont seem to go

.leaflet-top.leaflet-left
	.leaflet-control-zoom
		display:none

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.header
	position: fixed
	top: 0
	width: 100%
	background: #222
	color: #fff
	height: 50px
	opacity: 0.95
	z-index: 12
	border-bottom: 1px solid #999

#navbar
	height: 50px
	margin: 10px

.header-logo
	font-weight: bold
	font-size: 15px

#sidebar
	position: fixed
	opacity: 0.95
	top: 50px
	background: #222
	color: #fff
	width: 15%
	z-index: 10
	height: 100%
	padding: 50px 0 0 40px

#tags ul
	list-style: none
	margin-bottom: 15px
	padding-top: 5px
	overflow: auto
	li
		float: left
		font-size: 20px
		width: 20%
		text-align: center
		padding-top: 5px
		padding-bottom: 5px
		border: 1px solid #fff
		border-right: none
	
	li:last-child
		border-right: 1px solid #fff

#pin-info
	display: block
	margin-top: 20px
	.pin-title
		display: block


#pin-create
	display: none
	


#map
  width: 100%
  height: 1000px

//Manually overriding leaflet zoom controls styling

.leaflet-control-zoom
	top: 70px
	right: 20px


