body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#sidebar{
	opacity: 35%;
	background: #fff;
}
*{
  padding: 0;
  margin: 0;
}
#map{
  width: 100%;
  height: 1000px;
}
