<h2> Write a new post
<label for='name'>First Name</label>
<input ng-model='form.first' name='first'>
<label for='email'>Email</label>
<input ng-model='form.email' name='email'>
<p><button ng-click='submitPost()'>Submit</button></p>
