<h2> Write a new post
<div class='pinCreate'>
<label for='title'>Title</label>
<input ng-model='form.title' name='title'>
<label for='author'>Author</label>
<input ng-model='form.author' name='author'>
<label for='description'>Description</label>
<input ng-model='form.description' name='description'>
<input type = 'hidden' ng-model='form.lat' name='lat' id='lat' value=''>
<input type = 'hidden' ng-model='form.lng' name='lat' id='lng' value=''>
<input type = 'hidden' ng-model='form.leaflet_id' name='leaflet_id' id='leaflet_id' value=''>
<p><button ng-click='submitPin()'>Submit</button></p>
</div>