<h2>Edit post</h2>
<label for='name'>First Name:
<input ng-model='form.first' name='name'>
<label for='email'>Email:
<input ng-model='form.email' name='email'>
<p><button ng-click='editPost()'>Edit</button></p>
