<p> There are {{posts.length}} posts
<div ng-repeat='post in posts'>
	<h3>{{post.title}}</h3>
	<div>{{post.description}}</div>
	<div>{{post.author}}</div>
	<div>{{post.lat}}</div>
	<div>{{post.lng}}</div>
	<a href='editPost/{{post._id}}'>Edit</a> |
	<a href='deletePost/{{post._id}}'>Delete</a>
</div>
